.normal {
	background-color: #17b0cf;
	border: 1px solid #0a96b2;
	/*Padding Our Box*/
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	color: white;
	border-radius: 5px;
}

.error {
	border-radius: 5px;
	border: 1px solid #d60404;
	font-family: sans-serif;
	background-color: red;
	color: #600404;
	padding: 1em;
}

body {
	background-color: #aedce5;
	color: white;
	font-family: sans-serif;
	color : white;
}

nav {
	display: inline-flex;
	background-color: #17b0cf;
	width: 100%;
	margin: 1em;
	margin-left: 0em;
	margin-right: 0em;
	border-radius: 5px;
}

article {
	display: inline-flex;
	background-color: #17b0cf;
	width: 100%;
	padding: 1em;
	border-radius: 5px;
}

nav a {
	text-decoration: none;
	color: white;
	display: block;
	font-family: sans-serif;
	padding: 1em;
	border-radius: 5px;	
}

.no-dec {
	text-decoration: none;
	color: white;
	margin-top: 1em;
}

.no-dec:hover {
	background-color: #12798e;
}

nav a:hover {
	background-color: #12798e;
}

.center {
	text-align: center;
	display: block;
}

.button {
    
  	background-color: #1399b5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 1px 2px 3px #245425;
    margin: 0.5em;    
}

.button:hover {
    background-color: #107f96;
}

table {
	display: inline;
}

.inputfield {
	border-radius: 5px;
	background-color: #bed8dd;
	color: #107f96;
	border: 1px solid #ccc;
	padding: 12px 20px;
	box-shadow: 1px 1px 1px #245425;
	margin: 0.2em;
}

.form {
	border-radius: 5px;
	background-color: #17b0cf;
	padding: 2em;
	display: block;
    margin: auto;
    width: auto;
}

.list {
	border-radius: 5px;
	background-color: #17b0cf;
	padding: 1em;
	margin: 1em;
}

.listhead {
	border-radius: 5px;
	background-color: #149eba;
	padding: 1em;
	margin: 1em;
}

