<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>Új</title>
</head>

<body>
	<div th:replace="layouts/frame :: navigation"></div>
	<article>
		<form action="#" th:action="@{/new}" th:object="${object}"
			class="form" method="post">
			<dl>
				<dt>
					<input type="text" id="base" name="base" th:text="*{base}"
						class="inputfield" placeholder="Angol szöveg" autofocus
						autocomplete="off" required/>
				</dt>
				<dt>
					<input type="text" id="translation" name="translation"
						th:text="*{translation}" class="inputfield"
						placeholder="Magyar szöveg" autocomplete="off" required/>
				</dt>
				<dt>
					<input type="submit" value="Hozzáad" class="button" />
				</dt>
			</dl>
		</form>
	</article>
</body>

</html>